#!/usr/bin/env bash
export GITHUB_TOKEN=$(op read "op://Sous-Chefs/fgkzr3hgfonq4lwyosngzdne2e/credential")
export GCR_DESTINATION_REPO_OWNER=sous-chefs
export GCR_GIT_NAME="Damacus"
export GCR_GIT_EMAIL="damacus@users.noreply.github.com"
export GCR_PULL_REQUEST_TITLE="Automated PR: Cookstyle Changes"